//variables
$white: #fff;
$light-grey: #f1f1f1;
$background-color: #fff;
$orange: #ff6600;
$primary-backgorund: #976745;
$primary: #ffffffe7;
$secondary-backgorund: #f38a00;
$secondary: #ffffffe7;
$dark-grey: #212121;
$dark-grey-1: #424242;
$dark-grey-2: #656565;
$dark-grey-3: #858585;
$dark-grey-4: #515151;
$dark-color-1: black;

$primary-backgorund: #e7ab7f;
$primary: #ffffffe7;
$secondary-backgorund: #fc507b;
$secondary: #ffffffe7;

.dark-color {
  color: $dark-color-1;
}

.color-primary {
  background-color: $primary-backgorund;
  color: $primary;
}

.color-secondary {
  background-color: $secondary-backgorund;
  color: $secondary;
}
