//variables
$white: #fff;
$light-grey: #f1f1f1;
$background-color: #fff;
$orange: #ff6600;
$primary-backgorund: #5f260080;
$primary: #ffffffe7;
$secondary-backgorund: #3a170080;
$secondary: #ffffffe7;
$dark-grey: #212121;
$dark-grey-1: #424242;
$dark-grey-2: #656565;
$dark-grey-3: #858585;
$dark-grey-4: #515151;
$dark-color-1: black;

.flex-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

.dark-color {
  color: $dark-color-1;
}

.color-primary {
  background-color: $primary-backgorund;
  color: $primary;
}

.color-secondary {
  background-color: $secondary-backgorund;
  color: $secondary;
}

.width-90 {
  width: 90%;
}
