@import 'src/app/app.component.scss';

.incoming-message-container {
  border-radius: 15px;
  background-color: $light-grey;
  padding: 15px;
  margin: 15px;
}

.incoming-message-field {
  word-break: break-all;
}

.message-input-box-contanier {
  position: fixed;
  bottom: 0;
  background-color: #f5e1fd;
  width: 56%;
  height: 5rem;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  .text-area {
    max-height: 45px;
  }
  textarea::-webkit-input-placeholder {
    color: purple;
  }
}
.right-side {
  text-align: end;
}
