@import '../../../app.component.scss';

.contanier {
  padding: 0 15px;

  .mat-card {
    background-color: #f5e1fd;
    text-align: center;
    margin: 1rem 0;
    cursor: pointer;
  }

  .incoming-message-container {
    border-radius: 15px;
    background-color: $light-grey;
    padding: 15px;
    margin: 15px;
  }

  .incoming-message-field {
    word-break: break-all;
  }

  .right-side {
    text-align: end;
  }

  .message-input-box-contanier {
    position: fixed;
    bottom: 0;
    background-color: #f5e1fd;
    width: 56%;
    height: 5rem;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    .text-area {
      max-height: 45px;
    }
    textarea::-webkit-input-placeholder {
      color: purple;
    }
  }

  .height-full {
    height: calc(100vh - 64px);
    overflow: auto;
  }

  .height-middle {
    height: calc(100vh - 164px);
    overflow: auto;
  }

  .search-bar {
    padding-right: 30px;
    width: 100%;
    margin: 10px;
  }
}
