@import '../../../app.component.scss';

.height {
  height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
}

.dark-color {
  color: black;
}

.mat-card {
  // flex: 0 0 30%;
  background-color: #f5e1fd;
  text-align: center;
  margin: 1rem 0;
  cursor: pointer;
}
