<div class="contanier">
  <div class="row">
    <div class="col height-full">
      <app-chatroom-list [chatrooms]="$chatrooms | async" [SelectedChatroom]="$selectedChatroom | async" (selectedChatroomEmit)="selectChatroom($event)"></app-chatroom-list>
      <button class="color-secondary add-chatroom" mat-fab (click)="addChatroom()"><mat-icon>add</mat-icon></button>
    </div>

    <div
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollUpDistance]="1.5"
      [infiniteScrollThrottle]="10"
      [scrollWindow]="false"
      (scrolled)="onScrollDown()"
      (scrolledUp)="onScrollUp()"
      class="col-7 height-middle search-results"
    >
      <app-message-list (messageInputEmit)="sendMessage($event)" [messageList]="$messages | async"></app-message-list>
    </div>
    <div class="col height-full">
      <button *ngIf="$selectedChatroom | async as chatroom" mat-button class="color-secondary w-100 m-2 py-1" (click)="deleteChatroom(chatroom.id)">Delete this chatroom</button>
      <div *ngIf="$selectedChatroom | async as chatroom" class="color-primary m-2 chatroom-desc">
        <h1>Chatroom details</h1>
        {{ chatroom.details }}
      </div>
      <app-message-search [searchResults]="$searchResult | async" (searchTermEmit)="search($event)" (selectedMessageEmit)="searchResult($event)"></app-message-search>
    </div>
  </div>
</div>
