@import 'src/app/app.component.scss';

.search-bar-container {
  display: flex;
  padding: 15px 30px;
  width: 80%;
  margin: 30px;
  border-radius: 15px;
  justify-content: end;
}

.search-bar {
  width: 100%;
}
