@import 'src/app/app.component.scss';

mat-icon {
  cursor: pointer;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.mat-button-toggle {
  background-color: $primary-backgorund;
  color: $primary;
  border-radius: 5px;
}

.mat-button-toggle-checked {
  background-color: $secondary-backgorund;
  color: $secondary;
}
