<div class="dialog-wrapper d-flex flex-column justify-content-center">
  <h2>Add chatroom</h2>

  <form class="w-100 d-flex flex-column my-3">
    <mat-form-field class="my-1 mr-5 w-100" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="my-1 mr-5 w-100" appearance="fill">
      <mat-label>Details</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </form>
  <button mat-button class="w-50 mx-auto">Create</button>
</div>
